
html {
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

div {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}